<h1>Edit Your Question</h1>

<% unless @question.errors.empty? %>
  <div>
    <%= @question.errors.full_messages.to_sentence %>
  </div>
<% end %>

<%= button_to "Delete Question", @question, method: :delete %>
<%= render "question_form" %>
